* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
* a {
    text-decoration: none;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Common styles for the top navigation bars and the landing page words */
.homeContainer,
.aboutContainer,
.servicesContainer,
.resourcesContainer {
    width: 100vw;
    height: max-content;
}
.homeContainer .navBar,
.aboutContainer .navBar,
.servicesContainer .navBar,
.resourcesContainer .navBar {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.homeContainer .navBar .left,
.aboutContainer .navBar .left,
.servicesContainer .navBar .left,
.resourcesContainer .navBar .left {
    width: 20vw;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeContainer .navBar .left img,
.aboutContainer .navBar .left img,
.servicesContainer .navBar .left img,
.resourcesContainer .navBar .left img {
    width: inherit;
    object-fit: cover;
}
.homeContainer .navBar .right,
.aboutContainer .navBar .right,
.servicesContainer .navBar .right,
.resourcesContainer .navBar .right {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}
.homeContainer .navBar .right a,
.aboutContainer .navBar .right a,
.servicesContainer .navBar .right a,
.resourcesContainer .navBar .right a {
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.homeContainer .navBar .right a:hover,
.aboutContainer .navBar .right a:hover,
.servicesContainer .navBar .right a:hover,
.resourcesContainer .navBar .right a:hover {
    color: pink;
}
.homeContainer .navBar .right-icon,
.aboutContainer .navBar .right-icon,
.servicesContainer .navBar .right-icon,
.resourcesContainer .navBar .right-icon {
    display: none;
}
.homeContainer .body,
.aboutContainer .body,
.servicesContainer .body,
.resourcesContainer .body {
    width: inherit;
    height: max-content;
}
.homeContainer .body .welcome-message,
.aboutContainer .body .welcome-message,
.servicesContainer .body .welcome-message,
.resourcesContainer .body .welcome-message {
    width: inherit;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeContainer .body .welcome-message .content,
.aboutContainer .body .welcome-message .content,
.servicesContainer .body .welcome-message .content,
.resourcesContainer .body .welcome-message .content {
    width: 90vw;
}

/* Common styles for the contact pages */
.homeContainer .contactUsDiv,
.aboutContainer .contactUsDiv,
.contactContainer .contactUsDiv {
    width: inherit;
    display: flex;
    justify-content: center;
}
.homeContainer .body .contactUs,
.aboutContainer .body .contactUs,
.contactContainer .body .contactUs {
    width: 90vw;
    height: max-content;
    display: flex;
    justify-content: space-between;
}
.homeContainer .body .contactUs .left,
.aboutContainer .body .contactUs .left,
.contactContainer .body .contactUs .left {
    width: 30vw;
    height: 70vh;
    padding: 50px 20px;
    background-color: #1B7865;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
}
.homeContainer .body .contactUs .left .contact,
.aboutContainer .body .contactUs .left .contact,
.contactContainer .body .contactUs .left .contact {
    display: flex;
    align-items: center;
    gap: 2vw;
}
.homeContainer .body .contactUs .left .contact .contactIcon i,
.aboutContainer .body .contactUs .left .contact .contactIcon i,
.contactContainer .body .contactUs .left .contact .contactIcon i {
    font-size: 2rem;
}
.homeContainer .contactUs .right,
.aboutContainer .contactUs .right,
.contactContainer .contactUs .right {
    width: 50vw;
}
.homeContainer .body .contactUs .right form .input-fields,
.aboutContainer .body .contactUs .right form .input-fields,
.contactContainer .body .contactUs .right form .input-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.homeContainer .body .contactUs .right form .input-fields label,
.aboutContainer .body .contactUs .right form .input-fields label,
.contactContainer .body .contactUs .right form .input-fields label {
    display: none;
}
.homeContainer .body .contactUs .right form .input-fields input,
.aboutContainer .body .contactUs .right form .input-fields input,
.contactContainer .body .contactUs .right form .input-fields input {
    width: 24vw;
    padding: 8px;
    border: 1px solid #1B7865;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px gray;
}
.homeContainer .body .contactUs .right form .input-fields input::placeholder,
.homeContainer .body .contactUs .right form textarea::placeholder,
.aboutContainer .body .contactUs .right form .input-fields input::placeholder,
.aboutContainer .body .contactUs .right form textarea::placeholder,
.contactContainer .body .contactUs .right form .input-fields input::placeholder,
.contactContainer .body .contactUs .right form textarea::placeholder {
    font-size: 1rem;
}
.homeContainer .body .contactUs .right form textarea,
.aboutContainer .body .contactUs .right form textarea,
.contactContainer .body .contactUs .right form textarea {
    width: 50vw;
    border: 1px solid #1B7865;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
}
.homeContainer .body .contactUs .right form .privacy-policy,
.aboutContainer .body .contactUs .right form .privacy-policy,
.contactContainer .body .contactUs .right form .privacy-policy {
    display: flex;
    align-items: center;
    gap: 1vw;
}
.homeContainer .body .contactUs .right form .privacy-policy a,
.aboutContainer .body .contactUs .right form .privacy-policy a,
.contactContainer .body .contactUs .right form .privacy-policy a {
    color: black;
    font-size: 1rem;
}
.homeContainer .body .contactUs .right form .bottom,
.aboutContainer .body .contactUs .right form .bottom,
.contactContainer .body .contactUs .right form .bottom {
    display: flex;
    justify-content: space-between;
}
.homeContainer .body .contactUs .right form .bottom .captcha-container,
.aboutContainer .body .contactUs .right form .bottom .captcha-container,
.contactContainer .body .contactUs .right form .bottom .captcha-container {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homeContainer .body .contactUs .right form .bottom .captcha-container #captcha,
.aboutContainer .body .contactUs .right form .bottom .captcha-container #captcha,
.contactContainer .body .contactUs .right form .bottom .captcha-container #captcha {
    width: 10vw;
    font-size: 2rem;
    filter: blur(2px);
    position: relative;
}
.homeContainer .body .contactUs .right form .bottom .captcha-container #captcha::before,
.aboutContainer .body .contactUs .right form .bottom .captcha-container #captcha::before,
.contactContainer .body .contactUs .right form .bottom .captcha-container #captcha::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        rgba(0, 0, 0, 0.1) 10px,
        rgba(0, 0, 0, 0.1) 20px
    );
    pointer-events: none;
}
.homeContainer .body .contactUs .right form .bottom .captcha-container input,
.aboutContainer .body .contactUs .right form .bottom .captcha-container input,
.contactContainer .body .contactUs .right form .bottom .captcha-container input {
    padding: 10px;
    border: 1px solid gray;
}
.homeContainer .body .contactUs .right form .bottom .captcha-container i,
.aboutContainer .body .contactUs .right form .bottom .captcha-container i,
.contactContainer .body .contactUs .right form .bottom .captcha-container i {
    color: #1B7865;
    font-size: 1.5rem;
}
.homeContainer .body .contactUs .right form .bottom .submit-button button,
.aboutContainer .body .contactUs .right form .bottom .submit-button button,
.contactContainer .body .contactUs .right form .bottom .submit-button button {
    width: 10vw;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    background-color: #EF9B0F;
    color: white;
}
.homeContainer .body .contactUs .right form .bottom .submit-button button:hover,
.aboutContainer .body .contactUs .right form .bottom .submit-button button:hover,
.contactContainer .body .contactUs .right form .bottom .submit-button button:hover {
    background-color: #1B7865;
    cursor: pointer;
}

/* Common styles for the footer */
.homeContainer .body .footer,
.aboutContainer .body .footer,
.servicesContainer .body .footer,
.resourcesContainer .body .footer,
.contactContainer .body .footer {
    width: inherit;
    height: max-content;
    margin-top: 10vh;
    padding: 30px;
    background-color: #1B7865;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homeContainer .body .footer .footerContacts,
.aboutContainer .body .footer .footerContacts,
.servicesContainer .body .footer .footerContacts,
.resourcesContainer .body .footer .footerContacts,
.contactContainer .body .footer .footerContacts {
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    color: white;
}
.homeContainer .body .footer .footerContacts .contact,
.aboutContainer .body .footer .footerContacts .contact,
.servicesContainer .body .footer .footerContacts .contact,
.resourcesContainer .body .footer .footerContacts .contact,
.contactContainer .body .footer .footerContacts .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeContainer .body .footer .footerContacts .contact i,
.aboutContainer .body .footer .footerContacts .contact i,
.servicesContainer .body .footer .footerContacts .contact i,
.resourcesContainer .body .footer .footerContacts .contact i,
.contactContainer .body .footer .footerContacts .contact i {
    font-size: 2rem;
}
.homeContainer .body .footer .footerContacts .contact p,
.aboutContainer .body .footer .footerContacts .contact p,
.servicesContainer .body .footer .footerContacts .contact p,
.resourcesContainer .body .footer .footerContacts .contact p,
.contactContainer .body .footer .footerContacts .contact p {
    text-align: center;
    font-size: 1.2rem;
}
.homeContainer .body .footer .social-media,
.aboutContainer .body .footer .social-media,
.servicesContainer .body .footer .social-media,
.resourcesContainer .body .footer .social-media,
.contactContainer .body .footer .social-media {
    /* width: inherit; */
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.homeContainer .body .footer .social-media .right,
.aboutContainer .body .footer .social-media .right,
.servicesContainer .body .footer .social-media .right,
.resourcesContainer .body .footer .social-media .right,
.contactContainer .body .footer .social-media .right {
    width: 30vw;
    display: flex;
    justify-content: space-between;
}
.homeContainer .body .footer .social-media .right a,
.aboutContainer .body .footer .social-media .right a,
.servicesContainer .body .footer .social-media .right a,
.resourcesContainer .body .footer .social-media .right a,
.contactContainer .body .footer .social-media .right a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeContainer .body .footer .social-media .right a i,
.aboutContainer .body .footer .social-media .right a i,
.servicesContainer .body .footer .social-media .right a i,
.resourcesContainer .body .footer .social-media .right a i,
.contactContainer .body .footer .social-media .right a i {
    color: black;
    font-size: 1.5rem;
}

/* Common styles for the scroll to top button */
.homeContainer #scrollToTopBtn,
.aboutContainer #scrollToTopBtn,
.servicesContainer #scrollToTopBtn,
.resourcesContainer #scrollToTopBtn,
.contactContainer #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
.homeContainer #scrollToTopBtn:hover,
.aboutContainer #scrollToTopBtn:hover,
.servicesContainer #scrollToTopBtn:hover,
.resourcesContainer #scrollToTopBtn:hover,
.contactContainer #scrollToTopBtn:hover {
    background-color: #333;
}

/* Common Media query styles */
@media only screen and (max-width: 900px) {
    /* Common styles for the navBars */
    .homeContainer .navBar,
    .aboutContainer .navBar,
    .servicesContainer .navBar,
    .resourcesContainer .navBar {
        height: 15vh;
    }
    .homeContainer .navBar .left,
    .aboutContainer .navBar .left,
    .servicesContainer .navBar .left,
    .resourcesContainer .navBar .left {
        width: 50vw;
        opacity: 1;
    }
    .homeContainer .navBar .left.hidden,
    .aboutContainer .navBar .left.hidden,
    .servicesContainer .navBar .left.hidden,
    .resourcesContainer .navBar .left.hidden {
        opacity: 0;
    }
    .homeContainer .navBar .right,
    .aboutContainer .navBar .right,
    .servicesContainer .navBar .right,
    .resourcesContainer .navBar .right {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 15vh;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 8vh;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .homeContainer .navBar .right.visible,
    .aboutContainer .navBar .right.visible,
    .servicesContainer .navBar .right.visible,
    .resourcesContainer .navBar .right.visible {
        display: flex;
    }
    .homeContainer .navBar .right-icon,
    .aboutContainer .navBar .right-icon,
    .servicesContainer .navBar .right-icon,
    .resourcesContainer .navBar .right-icon {
        display: block;
        width: 30px;
        height: 24px;
        position: relative;
        cursor: pointer;
    }
    .homeContainer .navBar .right-icon .bar,
    .aboutContainer .navBar .right-icon .bar,
    .servicesContainer .navBar .right-icon .bar,
    .resourcesContainer .navBar .right-icon .bar {
        width: 100%;
        height: 4px;
        /* background-color: white; */
        position: absolute;
        transition: all 0.3 ease;
    }
    .homeContainer .navBar .right-icon .top,
    .aboutContainer .navBar .right-icon .top,
    .servicesContainer .navBar .right-icon .top,
    .resourcesContainer .navBar .right-icon .top {
        top: 0;
    }
    .homeContainer .navBar .right-icon .middle,
    .aboutContainer .navBar .right-icon .middle,
    .servicesContainer .navBar .right-icon .middle,
    .resourcesContainer .navBar .right-icon .middle {
        height: 3px;
        top: 50%;
        transform: translateY(-50%);
    }
    .homeContainer .navBar .right-icon .bottom,
    .aboutContainer .navBar .right-icon .bottom,
    .servicesContainer .navBar .right-icon .bottom,
    .resourcesContainer .navBar .right-icon .bottom {
        bottom: 0;
    }
    .homeContainer .navBar .right-icon.active .top,
    .aboutContainer .navBar .right-icon.active .top,
    .servicesContainer .navBar .right-icon.active .top,
    .resourcesContainer .navBar .right-icon.active .top {
        transform: translateY(10px) rotate(45deg);
    }
    .homeContainer .navBar .right-icon.active .middle,
    .aboutContainer .navBar .right-icon.active .middle,
    .servicesContainer .navBar .right-icon.active .middle,
    .resourcesContainer .navBar .right-icon.active .middle {
        opacity: 0;
    }
    .homeContainer .navBar .right-icon.active .bottom,
    .aboutContainer .navBar .right-icon.active .bottom,
    .servicesContainer .navBar .right-icon.active .bottom,
    .resourcesContainer .navBar .right-icon.active .bottom {
        transform: translateY(-10px) rotate(-45deg);
    }
    .homeContainer .body .welcome-message,
    .aboutContainer .body .welcome-message,
    .servicesContainer .body .welcome-message {
        height: 90vh;
    }

    /* Common media query styles for the contact form */
    .homeContainer .body .contactUs .left,
    .aboutContainer .body .contactUs .left,
    .contactContainer .body .contactUs .left {
        display: none;
    }
    .homeContainer .body .contactUs .right,
    .aboutContainer .body .contactUs .right,
    .contactContainer .body .contactUs .right {
        width: inherit;
    }
    .homeContainer .body .contactUs .right form .input-fields input,
    .aboutContainer .body .contactUs .right form .input-fields input,
    .contactContainer .body .contactUs .right form .input-fields input {
        width: 90vw;
    }
    .homeContainer .body .contactUs .right form textarea,
    .aboutContainer .body .contactUs .right form textarea,
    .contactContainer .body .contactUs .right form textarea {
        width: 90vw;
    }
    .homeContainer .body .contactUs .right form .bottom,
    .aboutContainer .body .contactUs .right form .bottom,
    .contactContainer .body .contactUs .right form .bottom {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    .homeContainer .body .contactUs .right form .bottom .captcha-container,
    .aboutContainer .body .contactUs .right form .bottom .captcha-container,
    .contactContainer .body .contactUs .right form .bottom .captcha-container {
        width: 90vw;
        justify-content: space-between;
    }
    .homeContainer .body .contactUs .right form .bottom .captcha-container #captcha,
    .aboutContainer .body .contactUs .right form .bottom .captcha-container #captcha,
    .contactContainer .body .contactUs .right form .bottom .captcha-container #captcha {
        width: 30vw;
    }
    .homeContainer .body .contactUs .right form .bottom .submit-button,
    .aboutContainer .body .contactUs .right form .bottom .submit-button,
    .contactContainer .body .contactUs .right form .bottom .submit-button {
        width: 90vw;
        display: flex;
        justify-content: center;
    }
    .homeContainer .body .contactUs .right form .bottom .submit-button button,
    .aboutContainer .body .contactUs .right form .bottom .submit-button button,
    .contactContainer .body .contactUs .right form .bottom .submit-button button {
        width: 50vw;
    }

    /* Common styles for the footer */
    .homeContainer .body .footer,
    .aboutContainer .body .footer,
    .servicesContainer .body .footer,
    .resourcesContainer .body .footer,
    .contactContainer .body .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .homeContainer .body .footer .footerContacts,
    .aboutContainer .body .footer .footerContacts,
    .servicesContainer .body .footer .footerContacts,
    .resourcesContainer .body .footer .footerContacts,
    .contactContainer .body .footer .footerContacts {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        align-items: center;
    }
    .homeContainer .body .footer .footerContacts .contact,
    .aboutContainer .body .footer .footerContacts .contact,
    .servicesContainer .body .footer .footerContacts .contact,
    .resourcesContainer .body .footer .footerContacts .contact,
    .contactContainer .body .footer .footerContacts .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .homeContainer .body .footer .social-media,
    .aboutContainer .body .footer .social-media,
    .servicesContainer .body .footer .social-media,
    .resourcesContainer .body .footer .social-media,
    .contactContainer .body .footer .social-media {
        display: flex;
        flex-direction: column-reverse;
        gap: 5vh;
    }
    .homeContainer .body .footer .social-media .right,
    .aboutContainer .body .footer .social-media .right,
    .servicesContainer .body .footer .social-media .right,
    .resourcesContainer .body .footer .social-media .right,
    .contactContainer .body .footer .social-media .right {
        width: 80vw;
    }
}