.contactContainer {
    width: inherit;
    height: max-content;
}
.contactContainer .top {
    width: inherit;
    height: 50vh;
    display: flex;
    align-items: center;
    padding-left: 10vw;
}
.contactContainer .top p {
    width: 40vw;
    font-size: 4rem;
}