.homeContainer .navBar {
    background-color: #1B7865;
}
.homeContainer .navBar .right a {
    color: white;
}
.homeContainer .body .welcome-message {
    background-color: #1B7865;
    color: white;
}
.homeContainer .body .welcome-message .content p:first-of-type {
    font-size: 1.2rem;
}
.homeContainer .body .welcome-message .content p:nth-of-type(2) {
    font-size: 4rem;
}
.homeContainer .body .welcome-message .content p:nth-of-type(3) {
    font-size: 1.7rem;
}
.homeContainer .body .welcome-message .content button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #EF9B0F;
}
.homeContainer .body .welcome-message .content button a {
    letter-spacing: 1px;
    color: white;
}
.homeContainer .body .welcome-question {
    width: inherit;
    height: 15vh;
    display: flex;
    justify-content: center;
    background-color: #1B7865;
}
.homeContainer .body .welcome-question .content {
    width: 80vw;
    height: max-content;
    padding: 30px;
    border-radius: 20px;
    position: absolute;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.homeContainer .body .welcome-question .content p {
    text-align: center;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
.homeContainer .body .invitation {
    margin-top: 30vh;
    font-family: Arial, Helvetica, sans-serif;
}
.homeContainer .body .invitation h1 {
    text-align: center;
    color: #1B7865;
    padding-bottom: 10px;
    font-size: 3rem;
}
.homeContainer .body .invitation #underline {
    display: flex;
    justify-content: center;
}
.homeContainer .body .invitation #underline span {
    width: 60vw;
    height: 2px;
    background-color: #1B7865;
}
.homeContainer .body .invitation #invitation-letter {
    padding: 40px;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
.homeContainer .body .kenMessage {
    width: inherit;
    height: 30vh;
    background-color: #E8F1F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.homeContainer .body .kenMessage p {
    width: 70vw;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}
.homeContainer .body .kenMessage h2 {
    color: #1B7865;
}
.homeContainer .body .supportTeam {
    width: inherit;
    height: 30vh;
    background-color: #1B7865;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeContainer .body .supportTeam p {
    width: 80vw;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.homeContainer .body .supportTeam a {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-decoration: underline;
}
.homeContainer .body .addition {
    width: inherit;
    height: max-content;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}
.homeContainer .body .addition .holistic-healing {
    width: 90vw;
    height: max-content;
    display: flex;
}
.homeContainer .body .addition .holistic-healing .left {
    width: 50vw;
    padding: 20px;
    background-color: #E5E4E2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.homeContainer .body .addition .holistic-healing .left h1 {
    color: #EF9B0F;
}
.homeContainer .body .addition .holistic-healing .left p {
    font-size: 1.3rem;
}
.homeContainer .body .addition .holistic-healing .right {
    width: 40vw;
    height: inherit;
    border-radius: 20px;
}
.homeContainer .body .addition .holistic-healing .right img {
    width: inherit;
    height: inherit;
    max-height: inherit;
    object-fit: cover;
    border-radius: 20px;
}
.homeContainer .body .addition .mindful-spirit {
    width: 90vw;
    height: max-content;
    display: flex;
}
.homeContainer .body .addition .mindful-spirit .left {
    width: 70vw;
    padding: 20px;
    /* background-color: #E5E4E2; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.homeContainer .body .addition .mindful-spirit .left h1 {
    color: #EF9B0F;
}
.homeContainer .body .addition .mindful-spirit .left p {
    font-size: 1.3rem;
}
.homeContainer .body .addition .mindful-spirit .left #point {
    display: flex;
    /* align-items: center; */
    gap: 1vw;
}
.homeContainer .body .addition .mindful-spirit .left #point p {
    font-size: 1.2rem;
}
.homeContainer .body .addition .mindful-spirit .left #point i {
    font-size: 0.6rem;
    color: #1B7865;
}
.homeContainer .body .addition .mindful-spirit .left button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #EF9B0F;
}
.homeContainer .body .addition .mindful-spirit .left button a {
    letter-spacing: 1px;
    color: white;
}
.homeContainer .body .addition .mindful-spirit .right {
    width: 30vw;
    height: inherit;
}
.homeContainer .body .addition .mindful-spirit .right img {
    width: inherit;
   max-height: inherit;
    object-fit: cover;
}
.homeContainer .body .addition .transformative-experience {
    width: 90vw;
    height: max-content;
    display: flex;
    justify-content: space-between;
}
.homeContainer .body .addition .transformative-experience .left {
    width: 30vw;
    height: inherit;
}
.homeContainer .body .addition .transformative-experience .left img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.homeContainer .body .addition .transformative-experience .right {
    width: 50vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.homeContainer .body .addition .transformative-experience .right p {
    font-size: 1.2rem;
}
.homeContainer .body .addition .transformative-experience .right button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #EF9B0F;
}
.homeContainer .body .addition .transformative-experience .right button a {
    letter-spacing: 1px;
    color: white;
}
.homeContainer .body #underline {
    display: flex;
    justify-content: center;
}
.homeContainer .body #underline span {
    width: 60vw;
    height: 4px;
    background-color: #1B7865;
}
.homeContainer .body .testimonials {
    width: inherit;
    height: max-content;
    margin-top: 10vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.homeContainer .body .testimonials h2 {
    text-align: center;
    font-size: 2rem;
}
.homeContainer .body .testimonials .major-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 90vw; /* Adjust as needed */
    margin: 0 auto;
    overflow: hidden;
}

.homeContainer .body .testimonials .major-container .inner-container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth; /* Ensures smooth scrolling */
    width: 80%; /* Adjust as needed */
}

.homeContainer .body .testimonials .major-container .inner-container .item {
    flex: 0 0 auto;
    width: 48%; /* Adjust as needed to show 2 items at a time */
    margin-right: 2%; /* Space between items */
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.homeContainer .body .testimonials .major-container .inner-container .item .testimonialTop {
    /* width: inherit; */
    height: 20vh;
    display: flex;
    gap: 2vw;
}
.homeContainer .body .testimonials .major-container .inner-container .item .testimonialTop .left {
    width: 10vw;
    height: inherit;
}
.homeContainer .body .testimonials .major-container .inner-container .item .testimonialTop .left img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.homeContainer .body .testimonials .major-container .inner-container .item .testimonialTop .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homeContainer .body .testimonials .major-container .inner-container .item .testimonialTop .right p {
    color: #B53389;
}
.homeContainer .body .testimonials .major-container .scroll-button {
    background-color: white;
    color: #1B7865;
    border: none;
    /* padding: 10px 20px; */
    cursor: pointer;
    font-size: 16px;
}
.homeContainer .body .testimonials .major-container .nav-button {
    background-color: #1B7865;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px; 
}
.homeContainer .body .testimonials .major-container .nav-button:hover {
    background-color: #1B7865;
}
.homeContainer .body .testimonials .major-container .indicatorContainer {
    display: none;
}
/* Media querying */
@media only screen and (max-width: 900px) {
    .homeContainer .navBar .right {
        background-color: #1B7865;
    }
    .homeContainer .navBar .right-icon .bar {
        background-color: white;
    }
    .homeContainer .body .welcome-message .content p:first-of-type {
        font-size: 1.5rem;
    }
    .homeContainer .body .welcome-message .content p:nth-of-type(2) {
        font-size: 3.5rem;
    }
    .homeContainer .body .welcome-message .content p:nth-of-type(3) {
        font-size: 2.1rem;
    }
    .homeContainer .body .welcome-message button {
        display: none;
    }
    .homeContainer .body .addition .holistic-healing {
        width: 90vw;
    }
    .homeContainer .body .addition .holistic-healing .left {
        width: 90vw;
    }
    .homeContainer .body .addition .holistic-healing .right {
        display: none;
    }
    .homeContainer .body .addition .mindful-spirit .left {
        width: 90vw;
    }
    .homeContainer .body .addition .mindful-spirit .left #point {
        gap: 4vh;
    }
    .homeContainer .body .addition .mindful-spirit .right {
        display: none;
    }
    .homeContainer .body .addition .transformative-experience {
        width: 90vw;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        justify-content: space-between;
    }
    .homeContainer .body .addition .transformative-experience .left {
        width: 90vw;
        height: inherit;
    }
    .homeContainer .body .addition .transformative-experience .right {
        width: 90vw;
    }
    .homeContainer .body .addition .transformative-experience .right button {
        width: 90vw;
    }
    /* Contact Us */
    
    .homeContainer .body .testimonials .major-container {
        display: flex;
        flex-direction: column;
    }
    
    .homeContainer .body .testimonials .major-container .inner-container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        width: 90%; /* Adjust as needed */
    }
    .homeContainer .body .testimonials .major-container .inner-container .item {
        flex: 0 0 auto;
        width: 100%; /* Adjust as needed to show 2 items at a time */
        scroll-snap-align: start;
    }
    .homeContainer .body .testimonials .major-container .inner-container .item .testimonialTop {
        height: max-content;
        display: flex;
        flex-direction: column;
    }
    .homeContainer .body .testimonials .major-container .inner-container .item .testimonialTop .left {
        width: inherit;
        height: 15vh;
        display: flex;
        justify-content: center;
    }
    .homeContainer .body .testimonials .major-container .inner-container .item .testimonialTop .right {
        width: inherit;
        align-items: center;
    }
    .homeContainer .body .testimonials .major-container .indicator-container {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-top: 10px;
    }
    .homeContainer .body .testimonials .major-container .scroll-button {
        display: none;
    }
    .homeContainer .body .testimonials .major-container .indicator-container .indicator {
        width: 30px;
        height: 5px;
        border-radius: 5px;
        background-color: #1B7865;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .homeContainer .body .testimonials .major-container .indicator-container .indicator.active {
        background-color: #B53389;
    }

}