* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}
* a {
    text-decoration: none;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
    /* background-color: #1B7865; */
}
.homeContainer {
    width: 100vw;
    height: max-content;
}
.homeContainer .landingContent {
    width: inherit;
    height: 100vh;
    background-color: #1B7865;
    color: white;
}
.homeContainer .landingContent .navBar {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    position: relative;
    transition: all 0.3s ease-in-out;
    background-color: #1B7865;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.homeContainer .landingContent .navBar .left {
    width: 20vw;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeContainer .landingContent .navBar .left img {
    width: inherit;
    object-fit: cover;
}
.homeContainer .landingContent .navBar .right {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}
.homeContainer .landingContent .navBar .right a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.homeContainer .landingContent .navBar .right a:hover {
    color: pink;
}
.homeContainer .landingContent .navBar .right-icon {
    display: none;
}
.homeContainer .landingContent .welcome-message {
    width: inherit;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 5vh; */
}
.homeContainer .landingContent .welcome-message .content {
    width: 90vw;
    padding-top: 5vh;
    height: max-content;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}
.homeContainer .landingContent .welcome-message .content p:first-of-type {
    font-size: 1.2rem;
}
.homeContainer .landingContent .welcome-message .content p:nth-of-type(2) {
    font-size: 4rem;
}
.homeContainer .landingContent .welcome-message .content p:nth-of-type(3) {
    font-size: 1.7rem;
}
.homeContainer .landingContent .welcome-message a {
    padding: 15px;
    background-color: #EF9B0F;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px ;
    color: black;
}
.homeContainer .body {
    width: inherit;
    height: 15vh;
    background-color: #1B7865;
    display: flex;
    justify-content: center;
}
.homeContainer .body .container {
    width: 80vw;
    height: max-content;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
}
.homeContainer .body .container p {
    text-align: center;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
.homeContainer .body .container p:first-of-type {
    color: #1B7865;
}

@media only screen and (max-width: 900px) {
    .homeContainer .landingContent {
        height: max-content;
    }
    .homeContainer .landingContent .navBar {
        height: 15vh;
    }
    .homeContainer .landingContent .navBar .left {
        width: 50vw;
        opacity: 1;
    }
    .homeContainer .landingContent .navBar .left.hidden {
        opacity: 0;
    }
    .homeContainer .landingContent .navBar .right {
        width: inherit;
        height: 90vh;
        background-color: #1B7865;
        position: absolute;
        top: 15vh;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 8vh;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .homeContainer .landingContent .navBar .right.visible {
        display: flex;
    }
    .homeContainer .landingContent .navBar .right-icon {
        display: block;
    }
    /* .homeContainer .landingContent .navBar .right-icon i {
        font-size: 2.5rem;
        color: white;
    } */
    .homeContainer .landingContent .navBar .right-icon {
        width: 30px;
        height: 24px;
        position: relative;
        cursor: pointer;
    }
    .homeContainer .landingContent .navBar .right-icon .bar {
        width: 100%;
        height: 4px;
        background-color: white;
        position: absolute;
        transition: all 0.3s ease;
    }
    .homeContainer .landingContent .navBar .right-icon .bar:nth-of-type(2) {
        height: 3px;
    }
    .homeContainer .landingContent .navBar .right-icon .top {
        top: 0;
    }
    .homeContainer .landingContent .navBar .right-icon .middle {
        top: 50%;
        transform: translateY(-50%);
    }
    .homeContainer .landingContent .navBar .right-icon .bottom {
        bottom: 0;
    }
    .homeContainer .landingContent .navBar .right-icon.active .top {
        transform: translateY(10px) rotate(45deg);
    }
    .homeContainer .landingContent .navBar .right-icon.active .middle {
        opacity: 0;
    }
    .homeContainer .landingContent .navBar .right-icon.active .bottom {
        transform: translateY(-10px) rotate(-45deg);
    }
    .homeContainer .landingContent .welcome-message .content {
        padding-top: 0;
    }
    .homeContainer .landingContent .welcome-message .content p:first-of-type {
        font-size: 1rem;
    }
    .homeContainer .landingContent .welcome-message .content p:nth-of-type(2) {
        font-size: 2rem;
    }
    .homeContainer .landingContent .welcome-message .content p:nth-of-type(3) {
        font-size: 1.5rem;
    }
    .homeContainer .landingContent .welcome-message a {
        display: none;
    }
}