.servicesContainer .navBar {
    background-color: #E8F1F0;
}
.servicesContainer .navBar .right a {
    color: #1B7865;
}
.servicesContainer .body .welcome-message {
    background-color: #E8F1F0;
}
.servicesContainer .body .welcome-message .content p:first-of-type {
    font-size: 4rem;
}
.servicesContainer .body .welcome-message .content p:nth-of-type(2) {
    font-size: 1.5rem;
}
.servicesContainer .body .healing-modalities {
    width: inherit;
    height: max-content;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
}
.servicesContainer .body .healing-modalities h2 {
    font-size: 2.5rem;
}
.servicesContainer .body .healing-modalities .healing-insights,
.servicesContainer .body .healing-modalities .resources {
    width: 80vw;
    height: max-content;
    display: flex;
    justify-content: space-between;
}
.servicesContainer .body .healing-modalities .healing-insights .left,
.servicesContainer .body .healing-modalities .resources .left {
    width: 30vw;
    height: max-content;
}
.servicesContainer .body .healing-modalities .healing-insights .left img,
.servicesContainer .body .healing-modalities .resources .left img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.servicesContainer .body .healing-modalities .healing-insights .right,
.servicesContainer .body .healing-modalities .resources .right {
    width: 45vw;
    height: max-content;
}
.servicesContainer .body .healing-modalities .healing-insights .right .top,
.servicesContainer .body .healing-modalities .resources .right .top {
    width: inherit;
    display: flex;
    gap: 2vw;
    align-items: center;
}
.servicesContainer .body .healing-modalities .healing-insights .right .top p:first-of-type,
.servicesContainer .body .healing-modalities .resources .right .top p:first-of-type {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #E8F1F0;
    color: #1B7865;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.servicesContainer .body .healing-modalities .healing-insights .right .top p:nth-of-type(2),
.servicesContainer .body .healing-modalities .resources .right .top p:nth-of-type(2) {
    color: #EF9B0F;
    font-size: 2.3rem;
}
.servicesContainer .body .healing-modalities .healing-insights .right .body,
.servicesContainer .body .healing-modalities .resources .right .body {
    font-size: 1.2rem;
}
.servicesContainer .body .healing-modalities .healing-insights .right button,
.servicesContainer .body .healing-modalities .resources .right button {
    /* width: 10vw; */
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #EF9B0F;
    font-size: 1.2rem;
}
.servicesContainer .body .healing-modalities .meditation {
    width: 80vw;
    height: max-content;
    display: flex;
    justify-content: space-between;
}
.servicesContainer .body .healing-modalities .meditation .left {
    width: 45vw;
    height: max-content;
}
.servicesContainer .body .healing-modalities .meditation .left .top {
    width: inherit;
    display: flex;
    gap: 2vw;
    align-items: center;
}
.servicesContainer .body .healing-modalities .meditation .left .top p:first-of-type {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #E8F1F0;
    color: #1B7865;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.servicesContainer .body .healing-modalities .meditation .left .top p:nth-of-type(2) {
    color: #EF9B0F;
    font-size: 2.3rem;
}
.servicesContainer .body .healing-modalities .meditation .left .body {
    font-size: 1.2rem;
}
.servicesContainer .body .healing-modalities .meditation .left button {
    /* width: 10vw; */
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #EF9B0F;
    font-size: 1.2rem;
}
.servicesContainer .body .healing-modalities .meditation .right {
    width: 30vw;
    height: max-content;
}
.servicesContainer .body .healing-modalities .meditation .right img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.servicesContainer .body .footer .social-media .right {
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 900px) {
    .servicesContainer .navBar .right {
        background-color: #E8F1F0;
    }
    .servicesContainer .navBar .right-icon .bar {
        background-color: #1B7865;
    }
    .servicesContainer .body .welcome-message .content p:first-of-type {
        font-size: 3rem;
    }
    .servicesContainer .body .welcome-message .content p:nth-of-type(2) {
        font-size: 1.5rem;
    }
    .servicesContainer .body .healing-modalities h2 {
        text-align: center;
        padding: 0 2vw;
    }
    .servicesContainer .body .healing-modalities .healing-insights,
    .servicesContainer .body .healing-modalities .resources {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3vh;
    }
    .servicesContainer .body .healing-modalities .healing-insights .left,
    .servicesContainer .body .healing-modalities .resources .left {
        width: inherit;
    }
    .servicesContainer .body .healing-modalities .healing-insights .right,
    .servicesContainer .body .healing-modalities .resources .right {
        width: inherit;
        height: max-content;
    }
    .servicesContainer .body .healing-modalities .healing-insights .right .top p:nth-of-type(2),
    .servicesContainer .body .healing-modalities .resources .right .top p:nth-of-type(2) {
        font-size: 1.5rem;
    }
    .servicesContainer .body .healing-modalities .meditation {
        display: flex;
        flex-direction: column-reverse;
        gap: 3vh;
    }
    .servicesContainer .body .healing-modalities .meditation .left {
        width: inherit;
        height: max-content;
    }
    .servicesContainer .body .healing-modalities .meditation .right {
        width: inherit;
    }
    .servicesContainer .body .healing-modalities .meditation .left .top {
        width: inherit;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    .servicesContainer .body .healing-modalities .meditation .left .top p:nth-of-type(2) {
        font-size: 1.6rem;
    }
    .servicesContainer .body .healing-modalities .resources .right .top {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
}