* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
* a {
    text-decoration: none;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
}
.servicesContainer {
    width: 100vw;
    height: max-content;
}
.servicesContainer .navBar {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    position: relative;
    transition: all 0.3s ease-in-out;
    background-color: #E8F1F0;
    
}
.servicesContainer .navBar .left {
    width: 20vw;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicesContainer .navBar .left img {
    width: inherit;
    object-fit: cover;
}
.servicesContainer .navBar .right {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}
.servicesContainer .navBar .right a {
    color: #1B7865;;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.servicesContainer .navBar .right a:hover {
    color: pink;
}
.servicesContainer .navBar .right-icon {
    display: none;
}
.servicesContainer .body {
    width: inherit;
    height: max-content;
}
.servicesContainer .body .welcome-message {
    width: inherit;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8F1F0;
}
.servicesContainer .body .welcome-message .content {
    width: 80vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.servicesContainer .body .welcome-message .content p:first-of-type {
    font-size: 4rem;
}
.servicesContainer .body .welcome-message .content p:nth-of-type(2) {
    font-size: 1.5rem;
}
.servicesContainer .body .healing-modalities {
    width: inherit;
    height: max-content;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
}
.servicesContainer .body .healing-modalities h2 {
    font-size: 2.5rem;
}
.servicesContainer .body .healing-modalities .healing-insights,
.servicesContainer .body .healing-modalities .resources {
    width: 80vw;
    height: max-content;
    display: flex;
    justify-content: space-between;
}
.servicesContainer .body .healing-modalities .healing-insights .left,
.servicesContainer .body .healing-modalities .resources .left {
    width: 30vw;
    height: max-content;
}
.servicesContainer .body .healing-modalities .healing-insights .left img,
.servicesContainer .body .healing-modalities .resources .left img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.servicesContainer .body .healing-modalities .healing-insights .right,
.servicesContainer .body .healing-modalities .resources .right {
    width: 45vw;
    height: max-content;
}
.servicesContainer .body .healing-modalities .healing-insights .right .top,
.servicesContainer .body .healing-modalities .resources .right .top {
    width: inherit;
    display: flex;
    gap: 2vw;
    align-items: center;
}
.servicesContainer .body .healing-modalities .healing-insights .right .top p:first-of-type,
.servicesContainer .body .healing-modalities .resources .right .top p:first-of-type {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #E8F1F0;
    color: #1B7865;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.servicesContainer .body .healing-modalities .healing-insights .right .top p:nth-of-type(2),
.servicesContainer .body .healing-modalities .resources .right .top p:nth-of-type(2) {
    color: #EF9B0F;
    font-size: 2.3rem;
}
.servicesContainer .body .healing-modalities .healing-insights .right .body,
.servicesContainer .body .healing-modalities .resources .right .body {
    font-size: 1.2rem;
}
.servicesContainer .body .healing-modalities .healing-insights .right button,
.servicesContainer .body .healing-modalities .resources .right button {
    /* width: 10vw; */
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #EF9B0F;
    font-size: 1.2rem;
}
.servicesContainer .body .healing-modalities .meditation {
    width: 80vw;
    height: max-content;
    display: flex;
    justify-content: space-between;
}
.servicesContainer .body .healing-modalities .meditation .left {
    width: 45vw;
    height: max-content;
}
.servicesContainer .body .healing-modalities .meditation .left .top {
    width: inherit;
    display: flex;
    gap: 2vw;
    align-items: center;
}
.servicesContainer .body .healing-modalities .meditation .left .top p:first-of-type {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #E8F1F0;
    color: #1B7865;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.servicesContainer .body .healing-modalities .meditation .left .top p:nth-of-type(2) {
    color: #EF9B0F;
    font-size: 2.3rem;
}
.servicesContainer .body .healing-modalities .meditation .left .body {
    font-size: 1.2rem;
}
.servicesContainer .body .healing-modalities .meditation .left button {
    width: 10vw;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #EF9B0F;
    font-size: 1.2rem;
}
.servicesContainer .body .healing-modalities .meditation .right {
    width: 30vw;
    height: max-content;
}
.servicesContainer .body .healing-modalities .meditation .right img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.servicesContainer .body .footer {
    width: inherit;
    height: max-content;
    margin-top: 10vh;
    padding: 30px;
    background-color: #1B7865;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.servicesContainer .body .footer .footerContacts {
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.servicesContainer .body .footer .footerContacts .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicesContainer .body .footer .footerContacts .contact i {
    font-size: 2rem;
}
.servicesContainer .body .footer .footerContacts .contact p {
    text-align: center;
    font-size: 1.2rem;
}
.servicesContainer .body .footer .social-media {
    /* width: inherit; */
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.servicesContainer .body .footer .social-media .right {
    width: 30vw;
    display: flex;
    justify-content: space-between;
}
.servicesContainer .body .footer .social-media .right a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicesContainer .body .footer .social-media .right a i {
    color: black;
    font-size: 1.5rem;
}